.post
  #question 1. カテゴリーを以下から選択してください

  .filter
    %a.btn1{ filter: "programing", href: "#"} プログラミング
    %a.btn1{ filter: "business", href: "#"} ビジネス
    %a.btn1{ filter: "design", href: "#"} デザイン
    %a.btn1{ filter: "sport", href: "#"} スポーツ

  .category
    %a.btn2{ category: "programing", href: "#", value: 'バックエンド'} バックエンド
    %a.btn2{ category: "programing", href: "#", value: 'フロントエンド'} フロントエンド
    %a.btn2{ category: "programing", href: "#", value: 'インフラ'} インフラ
    %a.btn2{ category: "programing", href: "#", value: '機械学習'} 機械学習
    %a.btn2{ category: "programing", href: "#", value: 'ブロックチェーン'} ブロックチェーン
    %a.btn2{ category: "business", href: "#", value: '会計'} 会計
    %a.btn2{ category: "business", href: "#", value: '経営戦略'} 経営戦略
    %a.btn2{ category: "design", href: "#", value: 'デザイン思考'} デザイン思考
    %a.btn2{ category: "design", href: "#", value: 'マテリアルデザイン'} マテリアルデザイン
    %a.btn2{ category: "sport", href: "#", value: 'スノーボード'} スノーボード

  .form
    = form_for @category do |f|
      = f.label :title, '選んだカテゴリー'
      = f.text_field :name, placeholder: '上から選んでください'

      #question 2.Youtubeの動画再生ページのurlを貼り付けてください(最低一つ、最大3つ)
      = fields_for @category.first_urls do |u|
        = u.label :title, '1番目におすすめなURLを入れてください'
        = u.text_field :name, placeholder: 'urlを貼り付けてください', value: ''

      = fields_for @category.second_urls, url: urls_path do |uu|
        = uu.label :title, '2番目におすすめなURLを入れてください', id: 'second_name'
        = uu.text_field :name, placeholder: 'urlを貼り付けてください', value: ''

      = fields_for @category.third_urls do |uuu|
        = uuu.label :title, '3番目におすすめなURLを入れてください', id: 'third_name'
        = uuu.text_field :name, placeholder: 'urlを貼り付けてください', value: ''
      %p
      = f.submit 'Send', class: 'submit'
